<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pablo.felicitacumple"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>
    

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
   
      
        <activity
            android:name="com.pablo.felicitacumple.CalendarioActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pablo.felicitacumple.Contactos"
            android:label="@string/title_activity_contactos"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light" >
        </activity>
        <activity
            android:name="com.pablo.felicitacumple.AgregarUser"
            android:label="@string/title_activity_agregar_user"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light"
            android:windowSoftInputMode="stateVisible" >
        </activity>
        <activity
            android:name="com.pablo.felicitacumple.Busqueda"
            android:label="@string/title_activity_busqueda"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light" >
        </activity>
        <activity
            android:name="com.pablo.felicitacumple.AutoMensaje"
            android:label="@string/title_activity_auto_mensaje"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible"
            android:theme="@android:style/Theme.Holo.Light" >
        </activity>

        <receiver android:name="com.pablo.felicitacumple.MyBroadcastReceiver" >
            
              <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.pablo.felicitacumple.Galeria"
            android:label="@string/title_activity_galeria"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light" >
        </activity>
        <activity
            android:name="com.pablo.felicitacumple.Calendar2"
            android:label="@string/title_activity_calendar2"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light" >        
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="com.pablo.felicitacumple"
                    android:scheme="oauth" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pablo.felicitacumple.Sonido"
            android:label="@string/title_activity_sonido"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light" >
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <provider
            android:name="com.facebook.NativeAppCallContentProvider"
            android:authorities="com.facebook.app.NativeAppCallContentProvider355198514515820"
            android:exported="true" />

        <receiver android:name="com.pablo.felicitacumple.HelloFacebookBroadcastReceiver" >
            <intent-filter>
                <action android:name="com.facebook.platform.AppCallResultBroadcast" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.pablo.felicitacumple.AcercaDeVersion"
            android:label="@string/title_activity_acerca_de_version"
            android:theme="@android:style/Theme.Holo.Light" >
        </activity>
    </application>

</manifest>
